body{
    background-color: blueviolet;
    color: aquamarine;}

h1{
    font-family: arial, sans-serif; 
    font-size: 36px; 
    text-align: center;}

p{
    font-family: Georgia, serif; 
    font-size: 18px; 
    padding: 10px; 
    margin: 20px;}

img{
    width: 300px; 
    height: 200px; 
    border: 8px solid snow; 
    margin: 10px;}
    
.container{
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
.container-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px;
}
iframe, video{
    max-width: 500px;
}
.video-container{
    padding: 10px;
    gap: 5px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.column{
    flex: 1;
    padding: 10px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(195, 0, 255);
    min-height: 200px;
    text-align: center;
}
@media (max-width: 600px) {
    .column {
        flex: 100%;
    }
}